
$background-and-font-green:#1c3532;
$font-color-white:#fff;
$button-hover-bg-color-yellow:rgb(238, 239, 12);
$border-color-grey:#c1c1c1;
$line-dark-color:#1c3532;
$font-color-black:#000;
$labal-light-color-grey:#606060;
$card-background-color-grey:#e9e9e9;